.main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  background: repeating-linear-gradient(-45deg, #ccc 0 2px, transparent 0 9px);
  background-color: bisque;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10.5rem;
  font-weight: bold;
  align-self: center;
  color: white;
  flex-grow: 1;
  background: repeating-linear-gradient(-45deg, #ccc 0 2px, transparent 0 9px);
  background-color: bisque;
  overflow: scroll;
  position: relative;
}

.liner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 4rem;
  color: white;
}

.contentCenter {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(195, 195, 195);
  overflow: scroll;
}
