.main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
  font-size: 3rem;
  width: 75%;
  margin: 2em;
  padding: 2em;
}

button {
  width: 5em;
  height: 3em;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10.5rem;
  font-weight: bold;
  align-self: center;
  color: white;
  flex-grow: 1;
  background-color: tomato;
  overflow: scroll;
}
