.burger {
  position: absolute;
  top: 2%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger:focus {
  outline: none;
}

.burger div {
  width: 5rem;
  height: 0.5rem;
  border-radius: 10px;
  background-color: black;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
