.message_form_subHeader {
  width: 100%;
  text-align: center;
  background-color: rgb(128, 128, 128);
}

.message_form_item {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.message_form_input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.message_form_buttons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message_form_links {
  align-self: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.message_form_links_cancel {
  align-self: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  background-color: rgb(201, 89, 89);
}

.message_form_links:hover {
  opacity: 0.7;
}

.editUser_form_links_cancel:hover {
  opacity: 0.7;
}
